<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('.static', filename='favicon.ico') }}">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--
    从bootstrap-vue官方文档里，摘抄需要的css和js文件放入header， https://bootstrap-vue.org/docs#browser

    摘抄内容中的链接，替换为国内CDN的地址，加速访问。

    https://www.bootcdn.cn/bootstrap-vue/2.21.2/
    https://www.bootcdn.cn/twitter-bootstrap/4.5.3/
    https://www.bootcdn.cn/vue/2.6.12/
    -->

    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.css" rel="stylesheet">

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue-icons.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <title>GitLab Analytics Admin</title>
</head>

<body>

<div id="app">
    <div>
        <b-navbar toggleable="lg" type="light" variant="light">
            <b-navbar-brand href="#"><img src="{{ url_for('.static', filename='ga.png') }}" height="30"
                                          class="d-inline-block align-top" alt="">
                Gitlab Analytics
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-button size="sm" class="my-2 my-sm-0" href="{{ url_for('.signout') }}">Sign out</b-button>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
    {% raw %}
    <div>
        <template>
            <div class="overflow-auto">
                <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="my-table"
                        size="lg"
                        align="center"
                ></b-pagination>

                <p class="mt-3">Current Page: {{ currentPage }}, Total Projects: {{ totalItems }}</p>

                <b-table
                        id="my-table"
                        fixed="true"
                        :items="items"
                        :fields="fields"
                        :per-page="perPage"
                        :current-page="currentPage"
                >
                    <template #cell(actions)="row">
                        <b-button size="sm" @click="toggle_hook(row.item, row.index, $event.target)"
                                  v-bind:class="row.item.loading ? '': (row.item.hooked ? 'btn-success' : 'btn-danger')"
                                  v-html="row.item.loading ? '<i class=\'fa fa-circle-o-notch fa-spin\'></i> loading...' : (row.item.hooked ? 'Remove webhook' : 'Add webhook')"
                        ></b-button>
                    </template>
                </b-table>
            </div>
        </template>
    </div>
    {% endraw %}
</div>
</body>
<script>
    function toggle_webhook_request(project, callback) {
        const api_url = project.hooked ? './api/remove_hook_from_project' : './api/add_hook_to_project'
        axios.post(api_url, {id: project.id}).then(function (response) {
            console.log(response);
            if (response.data.status === 0) {
                project.hooked = !project.hooked
                callback(true, "")
            } else {
                callback(false, "API Error: " + response.data.message)
            }

        }).catch(function (error) {
            console.log(error);
            callback(false, "axios HTTP Request Error: " + error)
        })
    }

    window.onload = () => {
        let vm = new Vue({
            el: '#app',
            data() {
                return {
                    fields: [
                        {key: "id", label: "ID"},
                        {key: "url", label: "URL"},
                        //{key: "hooked", label: "是否已注册Webhook"},
                        {key: "actions", label: "Actions"}
                    ],
                    perPage: 10,
                    currentPage: 1,
                    totalItems: 0,
                    items: function (ctx) {
                        let self = this
                        const params = '?page=' + ctx.currentPage + '&size=' + ctx.perPage
                        const url_with_params = './api/projects/list' + params
                        const promise = axios.get(url_with_params)
                        return promise.then(response => {
                            if (response.data.status == 0) {
                                let projects = response.data.items
                                // add loading property for each item
                                projects.forEach((project) => {
                                    project.loading = false
                                })
                                vm.totalItems = response.data.totalItems
                                return projects || []
                            } else {
                                alert("API Error: " + response.data.message);
                                return []
                            }
                        }).catch(function (error) {
                            alert("axios HTTP Request Error: " + error);
                            return []
                        })
                    }
                }
            },
            computed: {
                rows() {
                    return this.totalItems
                }
            },
            methods: {
                toggle_hook: function (project, index, event_target) {
                    if (project.loading) {
                        return;
                    }
                    project.loading = true
                    toggle_webhook_request(project, function (success, error_message) {
                        if (success) {
                            project.loading = false
                        } else {
                            alert(error_message)
                        }
                    })
                }
            }
        })
    }
</script>

</html>